* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  background-color: #f0f0f0;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

body {
}

#main-title {
  font-family: sans-serif;
  text-align: center;
  margin: 1em 0.5em;
  padding: 0.5em;
  background-image: linear-gradient(90deg, #ff2ac3, #77a9a1);
  color: #fff;
  border-radius: 2em;
  letter-spacing: 0.1em;
}

#wrapper {
  display: block;
  width: 75%;
  position: absolute;
  background-color: #fff;
  padding: 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2em;
}

#main-display {
  text-align: center;
  margin: 2em 0em;
  font-family: monospace;
  font-size: 3.5em;
}

#milli-display {
  font-size: 0.5em;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 2em 2.8em;
  border-radius: 2em 0.7em;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 1.1em;
  margin: 0em 1em;
}

button:focus {
  border: none;
  outline: none;
}

button[name="start-btn"] {
  background-color: #cd84f0;
}

button[name="stop-btn"] {
  background-color: #f05e48;
  display: none;
}

button[name="reset-btn"] {
  background-color: #000;
  display: none;
}

#button-container {
  display: flex;
  justify-content:space-around;
}

footer {
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  font-size: 0.8em;
  position: fixed;
  bottom: 0;
  margin: 1em;
  line-height: 1.5em;
}
